extends ../_layouts/main

block content
  section.banner(style="background-image: url(img/banner.jpg)")
    .container.banner-container
      .row.banner-row 
        .col-lg-4.col-md-6
          .banner-overlay
            .breadcrumbs
              ul
                li
                  a(href="#") Главная
                li
                  a(href="#") Карьера
                li
                  span Практика и стажировка
            .banner-content
              h1 Практика <br>и стажировка
              ul 
                li 
                  .banner-ico 
                    img(src="img/book.svg")
                  span Учащимся школ
                li
                  .banner-ico 
                    img(src="img/hat.svg")
                  span Студентам и выпускникам

  section.counter
    .container
      .row 
        .col-xl-6
          .counter-left
            .counter-item
              p.counter-value 36
              p.counter-text студентов высших учебных заведений
            .counter-item
              p.counter-value 440
              p.counter-text студентов техникумов и колледжей
        .col-xl-6
          .counter-right 
            p С 2010 по 2018 год на предприятии прошли производственную и преддипломную  практику

  section.school.custom-list-markers
    .container
      h2 Учащимся школ
      h4 Совместный проект с Управлением образования по <br>профессиональному определению учащихся
      .school-activity-list
        .school-activity-item
          p.school-activity-number 1
          p.school-activity-text
            strong Форум заводских компетенций «Наши профессии»
        .school-activity-item
          p.school-activity-number 2
          p.school-activity-text
            strong Консультационные классы для подготовки к поступлению в техникумы и ВУЗы
      ul 
        li знакомство с будущей работой
        li экскурсии в производственные подразделения,  беседы с ведущим специалистами завода
        li совместные мероприятия с молодежной организацией, посещение образовательных организаций среднего и высшего образования – партнеров предприятия
  
  section.advantages.custom-list-markers
    .container
      .row 
        .col-xl-7.col-lg-6
          .advantages-text
            h2 Преимущества <br>целевого обучения <br>в техникумах и ВУЗах
            ul 
              li Ученический договор
              li Заводская стипендия
              li Оплачиваемая практика и стажировка
              li Темы курсовых и дипломных работ
              li Гарантированное трудоустройство после  обучения
              li Интересная работа
              li Достойная заработная плата 
              li Общежитие, оплата найма жилплощади, приобретение жилья 
              li Карьерный рост
        .col-xl-5.col-lg-6.d-none.d-lg-block
          .advantages-img 
            img(src="img/worker.jpg")
  
  section.slogan
    .container
      .slogan-text «Сухоложский огнеупорный завод» – открытая перспектива твоего будущего 
        
  section.partners
    .container
      h2 Студентам и выпускникам
      h4 Образовательные организации – <br>партнеры  предприятия 
      .row.partners-row
        .col-lg-4.partners-col
          .partners-img 
            img(src="img/partner1.jpg")
          .partners-text Сухоложскиий многопрофильный техникум
        .col-lg-4.partners-col
          .partners-img 
            img(src="img/partner2.jpg")
          .partners-text Богдановичский политехникум
        .col-lg-4.partners-col
          .partners-img 
            img(src="img/partner3.jpg")
          .partners-text Уральский Федеральный Университет имени первого Президента России Б.Н.Ельцина
          
  section.advantages.custom-list-markers
    .container
      .row 
        .col-xl-7.col-lg-6
          .advantages-text
            h2 Преимущества <br>целевого обучения <br>в техникумах и ВУЗах
            ul 
              li Ученический договор
              li Заводская стипендия
              li Оплачиваемая практика и стажировка
              li Темы курсовых и дипломных работ
              li Гарантированное трудоустройство после  обучения
              li Интересная работа
              li Достойная заработная плата 
              li Общежитие, оплата найма жилплощади, приобретение жилья 
              li Карьерный рост
        .col-xl-5.col-lg-6.d-none.d-lg-block
          .advantages-img 
            img(src="img/worker2.jpg")

  section.contacts
    .container
      .row 
        .col-xl-5.col-md-6
          form.contacts-form(action="")
            h2 Напишите нам
            .contacts-form-body
              input.contacts-form-name(name="" type="text" placeholder="Ваше имя*")
              input.contacts-form-specialty(name="" type="text" placeholder="Ваша специальность")
              input.contacts-form-email(name="" type="text" placeholder="Ваша почта*")
              input.contacts-form-phone(name="" type="text" placeholder="Ваш телефон")
              textarea.contacts-form-comment(name="" placeholder="Ваше сообщение")
            .contact-form-footer
              button.contact-form-submit.btn Отправить
              .contact-form-privacy
                | Нажимая на кнопку,  вы принимаете условия 
                a(href="#") Пользовательского соглашения 
                | о передаче персоналных данных
        
        .col-xl-4.col-md-6
          .contacts-info
            h2 Контакты
            .contact-phones 
              p Телефоны отдела <br>управления персоналом
              a(href="tel:+73437364445") +7 (343 73) 
                strong 6 44 45
              a(href="tel:+73437364474") +7 (343 73) 
                strong 6 44 74
            .contacts-email
              p Почта для резюме
              a(href="mailto:e.centr@slsoz.ru") e.centr@slsoz.ru
            
