footer.footer
  .footer-top 
    .container
      .footer-top-row
        .footer-nav
          ul
            li
              a(href="#") Компания
            li
              a(href="#") Применение
            li
              a(href="#") Наши услуги
            li
              a(href="#") Карьера
            li
              a(href="#") Продукция
            li
              a(href="#") Медиа-центр
            li
              a(href="#") Контакты
        .footer-social
          ul
            li
              a(href="#") 
                i.fa.fa-youtube-play(aria-hidden="true")
            li
              a(href="#")
                i.fa.fa-facebook(aria-hidden="true")
            li
              a(href="#")
                i.fa.fa-vk(aria-hidden="true")
            li
              a(href="#")
                i.fa.fa-instagram(aria-hidden="true")
                
  .footer-bottom
    .container 
      .footer-bottom-row 
        .footer-logo
          a(href="/"): img(src="img/logo.svg", alt="Сухоложский огнеупорный завод")
        .footer-slogan Лучшее для вашего производства
        .footer-privacy 
          | © 2019 ОАО «Сухоложский огнеупорный завод»
          a(href="#") Политика конфиденциальности
        .footer-made
          a(href="#")
            | Создание сайтов
            img(src="img/made.svg")
            
