header.header
  .header-top
    .container
      .header-top-row
        .header-left
          .header-logo
            a(href="/"): img(src="img/logo.svg", alt="Сухоложский огнеупорный завод")
        .header-right
          a.header-search-btn(href="#")
            i.fa.fa-search(aria-hidden="true")
          .header-versions
            span.header-version-active RU
            span 
              a(href="#") EN
          .header-versions-xs
            select
              option RU
              option EN
          a.header-contact-us.btn(href="#") Написать нам
          .header-hamburger
            button.hamburger.hamburger--spin(type="button")
              span.hamburger-box
                span.hamburger-inner
    
  .header-bottom
    .container          
      .header-nav
        #mmenu
          ul
            li
              a(href="#") Компания
            li
              a(href="#") Продукция
            li
              a(href="#") Услуги
            li
              a(href="#") Применение
            li
              a(href="#") Карьера
            li
              a(href="#") Медиа-центр
              ul
                li
                  a(href="#") Новости
                li
                  a(href="#") Мероприятия
                li
                  a(href="#") Фото и видео
                li
                  a(href="#") Техническая документация
            li
              a(href="#") Контакты
