@import "vars";

// ≥1280px
@include media-breakpoint-down(lg) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
    line-height: 1.1;
  }

  // header
  .header-fixed-style {
    .header-nav {
      display: none !important;
    }
    .header-hamburger {
      width: 36px;
      margin-left: 12px;
    }
  }
  .header-left .header-nav {
    display: none;
  }

  // main
  .banner {
    height: 420px;
    background-position: right -153px top;
    background-size: 108% auto;
  }

  .banner-overlay::before {
    top: -38px;
    right: -250px;
  }

  .banner-content {
    margin-top: 42px;
    h1 {
      margin-bottom: 36px;
    }
  }

  .counter {
    padding-bottom: 62px;
  }

  .counter-value {
    font-size: 50px;
  }

  .counter-left {
    max-width: 600px;
  }

  .counter {
    padding-top: 53px;
  }
  .counter-right {
    padding-left: 0;
    max-width: 640px;
    margin-top: 26px;
    p {
      font-size: 26px;
    }
  }

  .school {
    background-image: none;
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .school-activity-list {
    margin-top: 42px;
  }

  .advantages {
    padding-top: 55px;
    padding-bottom: 56px;
  }

  .advantages h2 {
    margin-bottom: 35px;
  }

  .slogan {
    padding-top: 65px;
    padding-bottom: 65px;
    margin-top: 3px;
  }

  .slogan-text{
    font-size: 28px;
    max-width: 645px;
  }

  .partners {
    padding-top: 70px;
    padding-bottom: 18px;
  }

  .partners h4 {
  	margin-bottom: 40px;
  }

  .contacts {
    padding-top: 87px;
    background-image: none;
  }

  .contacts-form {
    padding-right: 0;
  }

  .contact-form-privacy{
    margin-top: -5px;
  }

  // footer
  .footer-slogan {
    margin-left: 30px;
  }

  .footer-privacy {
    margin-left: 48px;
  }
}

// ≥1024px
@include media-breakpoint-down(md) {

  // header
  .header-nav {
    display: none;
  }
  .header {
  	padding-top: 0px;
  	padding-bottom: 0px;

  	.header-left {
  		height: 100%;
  		.header-nav {
  			opacity: 1;
  			visibility: visible;
  		}
  	}

  	.header-right {
  		height: 100%;
  	}

  	.header-contact-us {
  		padding-top: 16px;
  		padding-bottom: 16px;
  	}

  	.header-bottom {
  		.header-nav {
  			height: 0;
  		}
  	}

  	.header-logo {
  		margin-top: 0;
  		padding-bottom: 0;
  		img {
  			width: 160px;
  			height: 32px;
  		}
  	}

  	.header-right {
  		padding-top: 0px;
  	}

    .header-hamburger {
      width: 36px;
      margin-left: 12px;
    }
  }

  //main
  .banner-overlay::before {
    right: -90px;
  }
  .banner {
    background-size: contain;
    height: 424px;
    background-position: right -153px top;
    background-size: 115% auto;
  }
  .counter {
    padding-top: 38px;
  }
  .school {
    padding-bottom: 53px;
  }
  .advantages-text {
    br {
      display: none;
    }
  }
  .advantages {
    padding-top: 43px;
    padding-bottom: 36px;
    h2 {
      max-width: 525px;
    }
  }
  .partners {
    padding-bottom: 9px;
    padding-top: 63px;
    .slick-dots {
      margin-top: 30px;
      margin-bottom: 0;
      padding-left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        list-style-type: none;
        cursor: pointer;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        transition: 0.25s all ease;
        margin-right: 7px;
        margin-left: 7px;
        background-color: $c-dark-grey;
        border: 2px solid #fff;
        &:hover, &.slick-active {
          background-color: transparent;
          border: 2px solid $c-dark-grey;
        }
      }
      button {
        display: none;
      }
    }
  }
  .contacts {
    margin-top: 15px;
    padding-top: 65px;
    padding-bottom: 58px;
  }
  .contacts-form-body {
    padding-top: 20px;
  }
  .contacts-info {
    padding-left: 25px;
  }
  .contacts-info h2 {
    margin-bottom: 35px;
  }
  .contacts-form-body {
    .contacts-form-email, .contacts-form-phone {
      width: 100%;
    }
  }
  .contact-form-footer {
    margin-top: 0;
    flex-wrap: wrap;
  }
  .contact-form-submit {
    margin-bottom: 25px;
  }

  // footer
  .footer-nav ul {
    column-count: 3;
  }

  .footer {
    padding-top: 30px;
  }

  .footer-logo {
    width: 100%;
    margin-bottom: 30px;
  }

  .footer-bottom-row {
    flex-wrap: wrap;
  }

  .footer-slogan {
    margin-left: -5px;
  }

  .footer-nav {
    flex: 70%;
  }
}

// ≥768px
@include media-breakpoint-down(sm) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 26px;
  }

  // header
  .header-contact-us {
    display: none;
  }
  .header-versions {
    display: none;
  }
  .header-versions-xs {
    display: block;
  }
  .header-top-row {
    height: 50px;
  }
  .header .header-hamburger {
    margin-left: 4px;
  }
  .header-search-btn {
    margin-right: 10px;
  }

  //main
  .banner {
    background-image: none !important;
    height: 308px;
  }
  .banner-overlay::before {
    display: none;
  }
  .banner-overlay {
    padding-top: 2px;
  }
  .breadcrumbs li {
    margin-right: 16px;
  }
  .banner-content {
    margin-top: 32px;
    h1 {
      margin-bottom: 25px;
    }
  }
  .counter {
    padding-top: 28px;
    padding-bottom: 50px;
  }
  .counter-left {
    flex-wrap: wrap;
  }
  .counter-item {
    width: 100%;
    flex: 100%;
    position: relative;
  }
  .counter-item + .counter-item::before {
    top: 0;
    bottom: auto;
    height: 1px;
    left: 15px;
    right: 15px;
    width: auto;
  }
  .counter-item + .counter-item {
    padding-top: 30px;
  }
  .counter-value {
    font-size: 40px;
    margin-bottom: 8px;
  }
  .counter-text {
    margin-bottom: 19px;
  }
  .counter-right {
    margin-top: 8px;
    p {
      font-size: 22px;
    }
  }
  .school {
    padding-top: 45px;
    h4 {
      br {
        display: none;
      }
    }
  }
  .school h2 {
    margin-bottom: 30px;
  }
  .school-activity-list {
    flex-wrap: wrap;
    margin-top: 35px;
  }
  .school-activity-item {
    flex: auto;
    max-width: none;
    padding-right: 5px;
    position: relative;
  }
  .school-activity-item + .school-activity-item {
    margin-left: 0;
    margin-top: 45px;
    &::before {
      content: '';
      background-color: #D5D5D5;
      width: 100%;
      height: 1px;
      max-width: 870px;
      left: 0;
      top: -29px;
      position: absolute;
    }
    .school-activity-number {
      margin-right: 25px;
    }
  }
  .school-activity-number {
    font-size: 50px;
  }
  .school-activity-text {
    margin-top: 5px;
  }
  .advantages {
    padding-top: 30px;
    padding-bottom: 27px;
  }
  .advantages h2 {
    margin-bottom: 30px;
  }
  .slogan-text {
    font-size: 26px;
    line-height: 1.15;
  }
  .slogan {
    padding-top: 45px;
    padding-bottom: 45px;
    .container {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .partners {
    padding-top: 53px;
    h2 {
      text-align: center;
      margin-bottom: 33px;
    }
    h4 {
      text-align: center;
      margin-bottom: 28px;
    }
  }
  .partners-col {
    & > div {
      margin: 0 auto;
      max-width: 340px;
    }
  }
  .partners .slick-dots {
    margin-top: 20px;
  }
  .contacts {
    padding-top: 43px;
    padding-bottom: 43px;
  }
  .contacts-form-body {
    padding-top: 12px;
  }
  .contacts-info {
    padding-left: 0;
    margin-top: 44px;
  }
  .contacts-info h2 {
    margin-bottom: 27px;
  }

  // footer
  .footer-nav ul {
    column-count: 2;
  }
  .footer-nav li {
    margin-bottom: 7px;
  }
  .footer {
    padding-top: 20px;
  }
  .footer-top-row {
    flex-wrap: wrap;
  }
  .footer-nav {
    flex: 100%;
  }
  .footer-social {
    margin-top: 20px;
  }
  .footer-social ul {
    justify-content: flex-start;
    li {
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .footer-top {
    margin-bottom: 26px;
  }
  .footer-logo {
    width: 50%;
    margin-right: 6%;
  }
  .footer-privacy {
    margin-left: 0;
  }
  .footer-made {
    text-align: left;
    margin-top: 10px;
  }
}

// ≥480px
@include media-breakpoint-down(xs) {

  //main
  .banner {
    height: 320px;
  }
  .banner-content li {
    padding-right: 20px;
    display: flex;
  }
  .counter {
    padding-top: 23px;
  }
  .counter-right {
    margin-top: 4px;
  }
  .school-activity-item + .school-activity-item {
    margin-top: 27px;
  }
  .school-activity-list {
    padding-bottom: 14px;
  }
  .school {
    padding-bottom: 27px;
  }
  .advantages h2 {
    padding-right: 10px;
  }
  .advantages li {
    margin-bottom: 12px;
  }
  .slogan {
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 37px;
  }
  .partners {
    padding-top: 43px;
  }
  .partners h2 {
    line-height: 1.3;
  }
  .contacts {
    margin-top: 5px;
  }

  // footer
  .footer-logo {
    width: 100%;
  }
  .footer-slogan {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .footer-privacy a {
    margin-top: 5px;
  }
  .footer-made {
    margin-top: 14px;
  }
}
