$default-font: "Ubuntu", sans-serif;
$c-accent: #24afb2;
$c-gray-light: #666;
$c-gray-dark: #333;
$c-text: #333;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 20px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 480px, md: 576px, lg: 768px, xl: 992px);
$container-max-widths: (sm: 480px, md: 540px, lg: 720px, xl: 960px);

$gutter: $grid-gutter-width;
