@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
.header-middle {
	p {
		letter-spacing: 16px;
	}
	.h1 {
		font-size: 130px;
	}
}
.news .news-item .news-content {
		padding: 20px 5%;
}
.header-top {
	width: 90%;
}
.header-top-links-nav li{
	margin-left: 20px;
}
.header-top-links-social {
	margin-left: 25px;
}
.blog-item .h4 {
	white-space: normal;
	text-align: center;
}
#mm-my-menu{
  display: inherit;
}
.my-menu-btn{
	display: inherit;
}
#my-menu{
  display: none;
}
}



// ≥992px
@include media-breakpoint-down(md) {
	.header-middle {
		p {
			letter-spacing: 13px;
			font-size: 18px;
		}
		.h1 {
			font-size: 100px;
		}
	}
	.h2 {
		font-size: 30px;
	}
	.key-feature-content .key-feature-item {
		width: 100%;
	}
	.team, .contact, .about-agency, .quick-action {
		padding-bottom: 80px;
	}
	.blog, .team {
		.h3 {
			font-size: 24px;
		}
	}
	.news .news-item {
		flex-direction: column;
		.news-content {
			order: 0;
			width: 100%;
		}
	}
	.news-img {
		height: 30vh;
		width: 100%;
		order: -1;
	}
	.footer-wrapper {
		width: 90%;
	}
}

// ≥768px
@include media-breakpoint-down(sm) {
	.header-middle {
		p {
			letter-spacing: 8px;
			font-size: 16px;
			margin-left: 10px;
		}
		.h1 {
			font-size: 75px;
		}
	}
	.h2 {
		font-size: 25px;
	}
	.team, .contact, .about-agency, .quick-action, .key-feature, .blog, .about-agency{
		padding-bottom: 40px;
		padding-top: 100px;
	}
	.blog-item {
		padding-top: 30px;
	}
	.section-wrapper {
		padding: 0 5%;
	}
	.quick-action {
		padding-top: 40px;
	}
	.quick-action-item:not(:first-of-type) {
		padding-top: 30px;
	}
	.key-feature-smart {
		padding-top: 30px;
	}
	.key-feature-content {
		padding: 0;
	}
	.contact-form input {
		margin-top: 20px;
	}
}

// ≥576px
@include media-breakpoint-down(xs) {
	.header-middle {
		p {
			letter-spacing: normal;
			font-size: 15px;
			margin-left: 2px;
		}
		.h1 {
			font-size: 40px;
		}
	}
	section .h2 {
		font-size: 25px;
		margin-bottom: 35px;
	}
	.header-top-links-social {
		a {
			margin-left: 2px;
		}
	}
	.my-menu-btn {
		margin-left: 12px;
	}
	.blog .blog-item {
		padding-top: 20px;
	}
	.quick-action-item {
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
	.quick-action-ico {
		margin: 0;
		line-height: 1.3;
	}
	.team-wrapper {
		margin-top: 15px;
	}
	.footer {
		padding: 15px 0 0;
	}
	.footer-wrapper {
		flex-direction: column;
	}
	.rights, .design-by {
		width: 100%;
		P {
			text-align: center;
			font-size: 12px;
		}

	}
}
