@import "vars";
@import "fonts";
@import "libs";

body {
	font-size: 15px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	background-color: $white;
}

a {
	transition: color .3s ease;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1;
	text-transform: uppercase;
	text-align: center;
}

.h2 {
	font-size: 37.5px;
	display: flex;
	flex-direction: column;
	margin-bottom: 105px;
	position: relative;

	&::before {
		content: '';
		font-size: 5.59em;
		font-family: RobotoCondensedBold-font;
		line-height: 1;
		align-self: center;
		position: absolute;
		top: -0.44em;
		opacity: .18;
	}
}

.h3 {
	font-size: 25px;
}

section, header {
	background-size: cover;
	background-position: center;
	position: relative;
	background-color: $white;
}

input, textarea {
	border: #666 1px solid;
	outline: none;
	&:focus:required:invalid {
		border-color: red;
	}
	&:required:valid {
		border-color: green;
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

b, strong {
	font-weight: bold;
}


.header {
	height: 100vh;
	min-height: 700px;
	background-color: $dark;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	&::after {
		content: "";
		height: 1.3px;
		background-color: rgba($white, 0.28);
		width: 100%;
		order: 2;
	}

	&-top {
		display: flex;
		justify-content: space-between;
		min-width: 75%;
		order: 1;
		margin: 0 auto;

		&-logo {
			margin: 22px 0 28px;
			line-height: 67px;
			text-align: center;
			display: block;
			font-size: 30px;
			font-family: OpenSans-font;
			font-weight: bold;
			background-color: $accent;
			width: 67px;
			height: 67px;
			box-shadow: 12px 9px 0 rgba($white, .60);
			text-decoration: none;
			color: $white;
			&:hover, &:active {
				text-decoration: none;
				color: $white;
			}
		}

		&-links {
			display: flex;
			font-size: 20px;
			padding-top: 10px;

			&-nav {
				display: flex;

				ul {
					margin: 0;
					display: flex;
				}

				li {
					list-style: none;
					margin-left: 30px;
					display: flex;
				}

				a {
					color: $white;
					padding: 0 5px;
					font-family: MyriadProRegular-font;
					display: flex;
					position: relative;

					span {
						margin: auto;
					}

					&:hover, &:active {
						text-decoration: none;
						color: $white;
					}

					&::after {
						content: "";
  					position: absolute;
  					height: 4px;
						background-color: transparent;
						bottom: -1px;
						right: 0;
						left: 0;
						transition: all .3s ease;
					}

					&:hover::after {
						background-color: $accent;
					}
				}
			}

			&-social {
				display: flex;
				align-items: center;
				margin-left: 35px;
				margin-bottom: 2px;

				a {
					display: block;
					padding: 5px;
					color: $white;
					margin-left: 10px;
					width: 30px;
					text-align: center;

					&:hover {
						color: $accent;
					}

				}
			}
		}
	}

	&-middle, &-scroll {
		display: flex;
		flex-direction: column;
		align-items: center;
		order: 3;
	}

	&-middle {
		position: absolute;
		top: 40%;

		.h1 {
			font-size: 152px;
			font-family: Gotham-font;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 1;
		}

		p{
			font-size: 25px;
			font-family: Gotham-font;
			text-transform: uppercase;
			color: $accent;
			letter-spacing: 22px;
			margin-left: 22px;
		}
	}
}

.about-agency {
	background-color: $accent;
	padding: 165px 0 128px;
	display: flex;
	flex-direction: column;
	align-items: center;

	.h2::before {
		content: 'W';
	}
}

.feature:nth-child(1) .feature-ico,
.feature:nth-child(2) .feature-ico {
	padding-left: 3px;
}

.feature {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 30px;

	&-ico {
		width: 138px;
		height: 138px;
		border-radius: 69px;
		background-color: rgba($white, .18);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 33px;
	}

	.h4 {
		margin-top: 20px;
		font-size: 18px;
	}

	p {
		text-align: center;
		font-weight: 300;
		font-size: 15px;
		margin-top: 30px;

	}

}

.news {
	display: flex;
	flex-direction: column;
}

.news-item {
	background-color: $dark;
	display: flex;

	&:nth-child(2n) {
		background-color: $white;
		color: $dark;

		.news-content {
			order: 1;
			padding-right: 15%;
			padding-left: 5%;
			background-color: $light;
		}
	}
}

.news-content {
	width: 50%;
	padding: 80px 5% 115px 15%;

	.h3 {
		margin: 12px 0;
		text-align: left;
	}

	p {
		margin-top: 28px;
		font-weight: 300;
	}
}

.date-tag {
	font-size: 13px;
	font-weight: 300;

	span+span::before {
		content: "| "
	}
}

.news-img {
	width: 50%;
	background-size: cover;
	background-repeat: no-repeat;
}


.blog {
	color: $dark;
	padding: 172px 0 105px;

	.section-wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;

		.h2::before {
			content: 'B';
		}

		.h3 {
			text-transform: none;
			font-size: 30px;
			font-weight: 300;
		}

	}
	.blog-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 75px;

		.h4 {
			color: $accent;
			padding: 40px 0 25px;
			font-size: 18px;
			white-space: nowrap;
		}

		p {
			font-weight: 300;
			text-align: center;
		}
	}
}
.blog-img {
	img {
		max-width:100%;
	}
}

.quick-action {
	background-color: $accent;
	padding: 105px 0 150px;
}

.quick-action-item {
	display: flex;
	align-items: flex-start;

}

.quick-action-ico {
	font-size: 70px;
	margin-right: 15px;
	margin-top: 7px;

	i {
		vertical-align: top;
	}
}

.quick-action-content {
	font-weight: 300;

	p {
		margin: 0;
	}
}

.key-feature {
	padding: 100px 0 100px;

	.h3 {
		text-align: left;
	}
}

.key-feature-wrapper {
	display: flex;
	align-items: center;
}

.key-feature-smart {
	display: flex;

	img {
		margin: auto;
	}
}

.key-feature-content {
	padding-right: 60px;
}

.key-feature-text {
	font-weight: 300;
	margin: 40px 0 40px;
}

.key-feature-item {
	margin-top: 25px;
	line-height: 1;
	padding: 13px;
	background-color: $accent;
	display: block;

}

@for $i from 1 through 3 {
	.key-feature-item:nth-of-type(#{$i + 1}) {
		width: calc(#{$key-feature-item-width} + (#{$i - 1}) * 30px);
	}
}


.team {
	padding: 145px 0 100px;
	color: $dark;
	display: flex;
	flex-direction: column;
	align-items: center;

	.h2::before {
		content: 'T';
	}

	.h3 {
		font-size: 30px;
		text-transform: lowercase;
		font-weight: 300;
	}
}

.team-wrapper {
	margin-top: 70px;
}

.team-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-bottom: 40px;
}

.team-img {
	img {
		width: 100%;
	}
}

.team-about {
	padding: 18px 40px 10px;
	position: absolute;
	bottom: -30px;
	background-color: $white;

	p {
		text-align: center;
		line-height: 1;
		margin-bottom: 10px;
	}
}

.team-name {
	color: $accent;
	font-size: 20px;
	text-transform: uppercase;
}

.contact {
	padding: 215px 0 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	.h2::before {
		content: 'C';
	}

	.contact-form {
		color: $white;
		display: flex;
		flex-direction: column;
		align-items: center;

		input, textarea {
			width: 100%;
			background-color: transparent;
			padding: 5px 20px;
			border: 1px $white solid;
			font-weight: 300;
			color: $white;

			&::placeholder {
				color: $white;
			}
		}
	}

	textarea {
		margin-top: 40px;
		resize: none;
	}

	button {
		margin-top: 45px;
		text-transform: uppercase;
		background-color: $accent;
		padding: 20px 60px;
		font-size: 24px;
		line-height: 1;
		border: none;
		color: $white;
		&:hover {
			cursor: pointer;
			background-color: darken($accent, 6%);
		}
	}
}
.map {
	background-color: $dark;
	height: 330px;
	background-size: cover;
	background-position: center;
}

.footer {
	padding: 20px 0 15px;
	background-color: $dark;
	color: $white;
	font-size: 13px;
	display: flex;
}

.footer-wrapper {
	display: flex;
	width: 75%;
	margin: auto;
}

.rights, .design-by {
	display: flex;
	justify-content: center;
	align-items: center;
}

.rights {
	width: 65%;
	p {
		text-align: left;
		width: 100%;
		margin: 0;

		&::before {
			content: "\00A9  ";
		}
	}
}

.design-by {
		width: 35%;
	img {
		display: inline;
		width: 90px;
		margin-bottom: 25px;
	}
	p {
		text-align: right;
		width: 100%;
		margin: 0;
	}
}

#mm-my-menu{
  display: none;
}
.my-menu-btn{
	align-self: center;
	font-size: 35px;
	margin-left: 35px;
	margin-bottom: 2px;
	display: none;

	a {
		color: $white;
		&:hover {
			color: $accent;
		}
	}
}
html.mm-wrapper_opened {
	overflow-y: scroll;
}
.mm-menu_theme-black {
	--mm-color-background: #151515;
}
.mm-panel {
	padding-top: 0;
	&::before{
		content: none;
	}
}
.mm-navbar {
	position: static;
	padding: 20px;
	height: auto;
}
.mm-navbar a.mm-navbar__title {
	font-size: 24px;
	color: $accent;
	text-transform: uppercase;
	font-family: Gotham-font;
	font-weight: bold;
	line-height: 1.3;
	display: block;
	position: static;
	&:hover {
		cursor:pointer;
		color: $accent;
	}
	&:hover::after {
		content: none;
	}
}
.mm-listview {
	flex-direction: column;
	font-size: 16px;
	padding-top: 20px;
	.mm-listitem {
		margin: 0;
		&:after {
			left: 20px;
			right: 20px;
		}
	}
}
.mm-listitem .mm-listitem__text {
	display: block;
	padding: 20px;
	line-height: 1.5;
	text-align: center;
	&:hover {
		background-color: $dark;
		color: $accent;
	}
	&:hover::after {
		content: none;
	}
}
@import "media"; // Always at the end
